services:
  nsqlookupd:
    image: nsqio/nsq:latest
    command: /nsqlookupd
    ports:
      - "4161:4161"  # HTTP interface
      - "4160:4160"  # TCP interface
    volumes:
      - nsq_data:/data
    networks:
      - topic_master_network

  nsqd:
    image: nsqio/nsq:latest
    command: /nsqd --lookupd-tcp-address=nsqlookupd:4160
    ports:
      - "4151:4151"  # HTTP interface
      - "4150:4150"  # TCP interface
      - "4152:4152"  # HTTP interface for /stats
    volumes:
      - nsq_data:/data
    depends_on:
      - nsqlookupd
    networks:
      - topic_master_network

  nsqadmin:
    image: nsqio/nsq:latest
    command: /nsqadmin --lookupd-http-address=nsqlookupd:4161
    ports:
      - "4171:4171"  # HTTP interface
    depends_on:
      - nsqlookupd
      - nsqd
    networks:
      - topic_master_network

  publisher:
    build:
      context: .
      dockerfile: publisher/Dockerfile
    volumes:
      - ./topics.txt:/app/topics.txt
    depends_on:
      - nsqd
    networks:
      - topic_master_network

  consumer:
    build:
      context: .
      dockerfile: consumer/Dockerfile
    volumes:
      - ./topics.txt:/app/topics.txt
    environment:
      - TOPICS=${TOPICS}
      - NSQLOOKUPD_TCP_ADDRESS=nsqlookupd:4160
    depends_on:
      - nsqd
      - nsqlookupd
      - publisher
    networks:
      - topic_master_network

volumes:
  nsq_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${GOPATH}/src/github.com/jekiapp/topic-master/infra/test_setup/nsq/data

networks:
  topic_master_network:
    external: true