:root {
  --primary-bg: #f6f0fa;
  --primary-white: #fff;
  --primary-purple: #2d2231;
  --secondary-purple: #a689c2;
  --accent-purple: #8a69c4;
  --shadow-purple: rgba(120, 80, 160, 0.10);
  --border-purple: #d6b4e7;
  --input-bg: #faf6fc;
  --button-hover-purple: #6c3483;
  --error-red: #e74c3c;
  --shadow-btn: rgba(142, 68, 173, 0.08);
  --shadow-focus: #e9d6f7;
  --primary-black: #333;
} 